body{
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    font-family: "Josefin Sans", sans-serif;
}

.navegador{
    padding: 13px;
    background: linear-gradient(rgb(85, 85, 85),grey) ;
}

.linea__navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linea__navegador a{
    color: rgb(0, 0, 0);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 12px;
    gap: 5px;
    text-decoration: none;
}

.ilustraciones{
    width: 15px;
}

hr{
    border: 1px solid grey;
    width: 80%;
}

.fondo{
    background: linear-gradient(grey,white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar{
    margin-top: 10px;
    width: 100px;
    border-radius: 100px;
    border: solid 1px black;
}

.welcome{

    margin: 8px auto;


}

.descrip{
    text-align: center;
}

.descripcion{

    padding: 2px 25px;
    margin: 5px 8px 0;
    display: flex;
    gap: 5px;

}

.separador{
    border: solid 1px grey;
    width: 80%;
    margin-top: 30px;
}

#projet{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sub__titulos{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulopng{
    width: 30px;
    margin-right: 5px;
}

.tex{
    margin: 8px auto;
}

.card{
    width: 66%;
    height: auto;
    background: rgba(128, 128, 128, 0.378);
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 0 2px black;
}

.card:hover{
    width: 66%;
    height: auto;
    background: rgba(128, 128, 128, 0.378);
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 0 18px black;
}

.cardpng{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.titulo{
    margin-top: 5px;
    margin-bottom: 5px;
}

.descripcion__de__las__cards{
    font-size: 12px;
    padding: 10px;
    margin-top: 0;
}

.vinculos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.vinculo{
    text-decoration: none;
    color: black;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ilustracion{
    width: 18px;
}

.chau{
    padding: 0 22px;
}

.resumen__de__mi{
    padding: 0 20px;
}

#contacto{
    background: linear-gradient(white, grey);
    width: 100%;
}

.caja__formulario{
    background: rgba(48, 225, 248, 0.251);
    /* width: 80%; */
    padding: 15px 0;
    border-radius: 10px;
    
}

.tex{
    padding: 0 20px;
}

.formulario{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    width: 80%;
    gap: 3px;
}

input{
    padding: 11px;
    background: rgba(96, 244, 255, 0.289);
    border: none;
    border-bottom: 3px solid rgb(2, 95, 112);
    border-radius: 10px;
    max-width: 90%;
    outline: none;
}

textarea{
    padding: 11px;
    background: rgba(96, 244, 255, 0.289);
    border: none;
    border-bottom: 3px solid rgba(2, 95, 112, 0.588);
    border-radius: 10px;
    max-width: 90%;
    outline: none;
}

.boton{
    width: 43%;
    margin: 5px auto;
    font-weight: 600;

    background: rgb(105, 160, 212);
}

.boton:hover{
    background: rgb(129, 172, 212);
    transition: 1s;
    cursor: pointer;
}

::placeholder{
    color: black;
    font-weight: 600;
}

footer{
    background: grey;
    text-align: center;
    padding: 30px 0;
}

.tex__pie__pagina{
    margin: 0;
}